.abcRioButtonBlue {
	margin: 0px auto 0 auto;
}

.jumbotron{
	margin-bottom: 10px;
}

.attendee-name {
	display:inline;
	font-size: 2.5rem;
}

.image-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 4rem;
    mix-blend-mode: soft-light;
}

.svgHolder {
	overflow:scroll;
	text-align:center;
}

.lineOn {
	fill:none;
	stroke-width:1px;
	stroke-dasharray: 1 2;
}

.lineOff {
	fill:none;
	stroke-width:3px;
	opacity: 0.7;
}

.lineLabel {
	font-size: .4rem;
}

.reporter {
	fill:rgba(255,255,255,0.5);
	stroke-width:1px;
}

.reporterLabel {
	text-anchor:middle;
	font-size:8px;
}

.green {
	color: green;
}

.red {
	color: red;
}
