.abcRioButtonBlue {
  margin: 20vh auto 0 auto;
}

.attendee-name {
  display:inline;
  font-size: 2.5rem;
}

.image-background {
  animation: pulse 30s infinite;
  animation-direction: alternate;
  background-image: url("/img/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.5rem;
}

@keyframes pulse {
  0% {
    background-size: 2.5rem;
  }
  100% {
    background-size: 10rem;
  }
}
