<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{site.data.latest.name}} still goes to Blue Coat</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta charset="UTF-8">
        <meta name="google-signin-scope" content="profile">
        <meta name="google-signin-client_id"
            content="953648658436-1bql4k0mhfaiqe8p141c4rs0sgsjbcut.apps.googleusercontent.com">
        <meta property="og:title" content="{{site.data.latest.name}} still goes to Blue Coat" />
        <meta property="og:description" content="Some things just never change. 
{{site.data.time.date}}" />
        <meta property="og:image" content="https://ysgtb.bradi.sh/img/download.png" />
        <script src="js/config.js?{{site.github.build_revision}}"></script>
        <script src="js/authentication.js?{{site.github.build_revision}}"></script>
        <script src="https://accounts.google.com/gsi/client" async defer></script>
        <script src="https://sdk.amazonaws.com/js/aws-sdk-2.488.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/main.css?{{site.github.build_revision}}">
        <script>{% assign min = 0 %}{% assign max = 10000 %}{% assign diff = max | minus: min %}{% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}
            let version = {{randomNumber}};
            let revision =  "{{site.github.build_revision}}";
        </script>
    </head>
    <body>
        <div id="g_id_onload"
             data-client_id="953648658436-1bql4k0mhfaiqe8p141c4rs0sgsjbcut.apps.googleusercontent.com"
             data-context="signin"
             data-ux_mode="popup"
             data-callback="authenticationCallback"
             data-auto_select="true"
             data-close_on_tap_outside="false">
        </div>
        <div class="g_id_signin"
             data-type="icon"
             data-shape="circle"
             data-theme="outline"
             data-text="signin_with"
             data-size="small">
        </div>
        {{content}}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
